:root {
  --underweight: orange;
  --normal: green;
  --overweight: lightcoral;
  --obese: crimson;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
}

body {
  background: #7a1f56;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  gap: 2rem;
}

.box {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.gender {
  margin-top: 20px;
  margin-bottom: 1px;
  display: flex;
  gap: 60px;
}

.gender-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.gender-option input[type="radio"] {
  margin-right: 0px;
  margin-left: 70px;
}

.gender-label {
  font-size: 1.25rem;
  color: #555;
}

.calculator {
  display: grid;
  gap: 1rem;
}

.calculator div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.calculator label {
  flex: 0 1 120px;
  font-weight: 600;
}

.calculator input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  outline-color: #555;
  font-size: 1.25rem;
  text-align: center;
}

.calculator button {
  width: 50%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px;
  background: #9b2d6f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.calculator button[type="reset"] {
  background: #211c1c;
}

.calculator button:hover {
  filter: brightness(120%);
}

.output {
  margin-top: 5px;
  text-align: center;
  font-size: 1.75rem;
}

.output #bmi {
  margin-top: 10px;
  font-size: 8rem;
}

.output #desc strong {
  text-transform: uppercase;
}

.bmi-scale {
  margin-top: 20px;
  display: flex;
}

.bmi-scale div {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  border-top: 10px solid var(--color);
  padding: 10px;
}

.bmi-scale h4 {
  font-size: 0.75rem;
  color: slategray;
}

.underweight {
  color: var(--underweight);
}

.healthy {
  color: var(--normal);
}

.overweight {
  color: var(--overweight);
}

.obese {
  color: var(--obese);
}
